@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

body {
  background-color: #f5efe7;
  color: #213555;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Bad Script", cursive;
}

h1 {
  font-size: 64px;
}

button {
  background-color: #4f709c;
  color: #f5efe7;
  border: #f5efe7 1px solid;
  border-radius: 25px;
  padding: 10px;
}

ul {
  padding: 0;
  margin-top: 10px;
}

li {
  list-style: none;
  padding-right: 15px;
  flex-basis: 1;
  font-size: 24px;
}

input,
#submit-btn {
  padding: 15px;
  font-size: 16px;
  border: #f5efe7 1px solid;
  border-radius: 20px;
}

#selector {
  padding-top: 60px;
}

.addTodoContainer {
  margin-top: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.to-do-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px 15px;
  background-color: #d8c4b6;
  border-radius: 15px;
}

.btn-container {
  display: flex;
}
.btn-container button {
  margin: 4px;
}

.completed {
  text-decoration: line-through;
}

.outstanding {
  text-decoration: none;
}

.fa {
  pointer-events: none;
}
